<app-navigation></app-navigation>
<div class="_center">
<div class="container ">
    <div class="row">
        <div class="offset-2 col-6">
            <div class="card login shadow p-3 mb-5 bg-white rounded " >
                    <div class="card-body" id="loginBox">
                        <h2 style="text-align:center">Login</h2>
                        <br>
                            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
                                <div *ngIf="error">Content to render when condition is true.</div>

                                <!-- Email -->
                                <div class="form-group">
                                    <input class="form-control" formControlName="email" placeholder="Enter email" id="email">
                                </div>
                                <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="form-group" class="alert alert-danger">
                                    <div *ngIf="loginForm.get('email').hasError('required')">
                                      Email is Required!
                                    </div>
                                    <div *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                                      Invalid Email!
                                    </div>
                                </div>


                                <!-- Password -->
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password" id=password>
                                </div>
                                <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid" class="form-group" class="alert alert-danger">
                                    <div *ngIf="loginForm.get('password').hasError('required')" >
                                     Please put your password !
                                    </div>
                                    <div *ngIf="loginForm.get('password').hasError('minlength')">
                                      password should not contain less than 5 characters !
                                    </div>
                                    </div>


                                <!-- Submit -->
                                <div class = text-center>
                                <input type="submit" [disabled]="!loginForm.valid" class="btn btn-primary align-center" value="Login" id="loginButton">
                            </div>
                            </form>


                            <br>
                            <div class="option" style="text-align:center">New User? <a routerLink="/register" id="signupLink" >Sign Up</a></div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>