<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <figure class="image is-25x25px">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
        <h1 class="title is-2 mx-2" style="color:#232323"> Remote Hire  </h1> 
      </a>
  
      <a class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>   
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link is-light is-hovered">
                Home
              </a>
              <a class="button is-link is-light is-hovered">
                  Applied Jobs
                </a>
            <a class="button is-danger is-light">
              <strong>Logout</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<div style = "background-color:#B0C4DE">
  <div class="tile is-ancestor pt-5 mx-5">
    <div class="tile is-parent ">
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">Admin</p>
        <p class="subtitle">3-5 Years</p>
        <p class="date">21-10-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">Java Dev</p>
        <p class="subtitle">5-7 Years</p>
        <p class="date">21-4-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">MEAN Dev</p>
        <p class="subtitle">2-4 Years</p>
        <p class="date">1-1-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>

    <div class="tile is-parent">  
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">Angular Dev</p>
        <p class="subtitle">2-5 Years</p>
        <p class="date">11-6-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor pt-3 mx-5">
    <div class="tile is-parent">
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">Admin</p>
        <p class="subtitle">3-5 Years</p>
        <p class="date">21-10-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>

    <div class="tile is-parent">      
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">Java Dev</p>
        <p class="subtitle">5-7 Years</p>
        <p class="date">21-4-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>

    <div class="tile is-parent">     
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">MEAN Dev</p>
        <p class="subtitle">2-4 Years</p>
        <p class="date">1-1-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>

    <div class="tile is-parent">      
      <article class="tile is-child is-10 box">
        <figure class="image is-32x32 pd-2">
          <img src="https://bulma.io/images/placeholders/16x16.png">
        </figure>
        <p class="title">Angular Dev</p>
        <p class="subtitle">2-5 Years</p>
        <p class="date">11-6-2021</p>
        <a class="button is-link"> Apply</a>
      </article>
    </div>
  </div>
</div> 
<footer class="footer" style="background-color: #B0C4DE;">
  <div class="content has-text-centered">
    <p>
      <strong>Remote Hire</strong> by <a> Team-16</a>. The source code is licensed by
      <a>Virtusa</a>. The website content
      is licensed <a>also by Virtusa</a>.
    </p>
  </div>
</footer>

 